body{
background-color:rgba(16, 15, 43, 1);
height:100%;
display:flex;
justify-content: center;
align-items:center;
}
.box{
  background-color:rgba(11, 32, 63, 1);
  height:10vh;
  width:10vh;
  border-radius: 30%;
  margin-right:2vh;
  margin-top: 2vh;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size:2em;
  color:orange;
}
